body {
    font-family: "Roboto" sans-serif;
}
.nav-list{
color: #2E2F42;
background-color: #E7E9FC ;

}

.logo {
    font-family: "Raleway" sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4D5AE5;

}
.logoweb {
    font-family: "Raleway" sans-serif;


}
