body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #2E2F42;
    background-color: #E5E5E5;
    line-height: 1,5;
    font-size: 16px;
    letter-spacing: 2%;
    font-weight: 400;

}
header {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
.nav-list{

text-decoration: none;
font-size: 14px;

}


.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1,17 ;
    letter-spacing: 4%;
 
}
.accent {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1,17;
    color: #2E2F42;
    letter-spacing: 4%;
}
.link-header {
    font-weight: 500;
    color: inherit;
    text-decoration: none;
    line-height: inherit;
    font-size: 14px;
}
.link-header:hover {
    color: #404bbf;}
.link-header-studio{
    font-weight: 500;
    font-size: 14px;
        color: inherit;
        text-decoration: none;
        line-height: inherit;
}
.link-header-studio:hover{
color: #404bbf;
}
.link-header-studio:active {
    color: #404bbf;
    text-decoration: underline;
}

ul , li {
    list-style-type: none;
    color: inherit;
    font-size: 12px;
}
.link-header-std 

.address-header {
    font-weight: inherit;
    font-size: 12px;
    line-height: 1,5px;
    letter-spacing: 2%;
}
.mailto{
color: inherit;
text-decoration: none;
font-style: normal;
font-family: 'Roboto', sans-serif;
letter-spacing: 4%;
}
.mailto:hover{
    color: #404bbf ;
}
.mailto:active {
    color: #404bbf;
}
.tel{
    color: inherit;
    font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-style: normal;
        letter-spacing: 4%;
}
.tel:hover{
    color: #404bbf;
}
.tel:active {
    color: #404bbf;
}
.baner{
    background-color: #2E2F42;
}
.main-title{
    color: #FFFFFF;
    font-size: 60px;
    line-height: 1,07;
    text-align: center;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: 2%;
}
.baner-button{
    background-color: #4D5AE5 ;
    font-weight: 500;
    line-height: 1,18;
    text-align: center;
    font-style: inherit;
    letter-spacing: 4%;
    cursor: pointer;
}
.baner-button:hover{
    background-color: #404bbf;
}
h3{
    font-size: 20;
    font-weight: 500;
    line-height: 1,2 ;
    font-style: inherit;
    text-align: center;
    letter-spacing: 2%;
    color: inherit;
}

.dir-strat{
    text-align: left;
}
.dir-punkt{
text-align: left;
}
.dir-dil{
text-align: left;
}
.dir-tech{
text-align: left;
}
p{
    color: #434455;
    text-align: center;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: 2%;
}
.dir-strat-text, .dir-punkt-text, .dir-dil-text, .dir-tech-text {
    text-align: left;
}
.team-baner{
    background-color: #F4F4FD ;
}
h2{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-style: inherit;
    line-height: 1,11;
    letter-spacing: 2%;
    color: inherit;

}
.team-guerrero{
    background-color: #FFFFFF ;
}
.team-ford{
    background-color: #FFFFFF;
}
.team-garcia{
background-color: #FFFFFF;
}
.team-wilson{
background-color: #FFFFFF;
}
.port-app-title {
    text-align: left;
}
.port-app-text {
    text-align: left;
}
.port-pay-title{
    text-align: left;
}
.port-pay-text {
    text-align: left;
}
.port-med-title {
    text-align: left;
}
.port-med-text{
    text-align: left;
}
.port-taxi-title{
    text-align: left;
}
.port-taxi-text{
    text-align: left;
}
.port-ill-title{
    text-align: left;
}
.port-ill-text{
   text-align: left;
}
.port-courses-title{
    text-align: left;
}
.port-courses-text{
    text-align: left;
}
footer {
    background-color: #2E2F42;
    font-family: inherit;

}
.accent-footer{
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1,17;
}
.text-footer{
    color: #F4F4FD;
    text-align: left;
    font-weight: inherit;

}